@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(207 250 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #4b5563;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #4b5563;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 100px 20px 20px;
  }
  
  .grid-item {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .image-placeholder {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
    padding: 5px;
    background-color: #5c4d73;
    color: white;
    border-radius: 5px;
    font-size: 14px;
  }
  
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}